@import url('https://fonts.cdnfonts.com/css/cooper-hewitt');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


:root {
    --main-color: #c07d30; /* Example color */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Open Sans', sans-serif;
    --logo-font: 'Open Sans', sans-serif;
    --bg-color: #fcf8f5; 
    --color-red: #FF5353;
    --color-green: #8BC926;
    --color-one: #008DDA;
    --color-two: #66c2ff;
    --color-three: #d8f3ff;
    --color-four: #dfad48;
    --color-five: #836c51; 
    --color-six: #ffedcb;
}


body {
    padding-top: 80px;
    font-family: var(--body-font); 
    font-size: medium;
}

.box-color {
    background-color: var(--bg-color);
}

h1, h2, h3{
    font-family: var(--logo-font);
    color: var(--main-color); 
    font-weight: 600;
}

h4 {
 font-weight: 600;
}

/* NAVBAR */
.logo {
    color: var(--main-color); 
    font-weight: 600;
    font-size: x-large;
    font-family: var(--logo-font);
}

.nav-link{
    font-size: larger;
    font-family: var(--title-font);
    font-weight: 600;
}

.nav-link:hover{
    color: var(--main-color);
    font-size: larger;
}


/* IMAGE */ 
.img-max {
    height: 90%;
    width:auto;
}

/* CARD */
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 90%;
}

.card {
    width: 95%;
}


/* KVIZ */
.btn-quiz {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    color:white;
    background-color: var(--color-6);
}

.btn-quiz {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    color:white;
    background-color: var(--color-6);
}

.btn-quiz:hover {
    color:white;
    background-color: var(--color-6);
    opacity: 0.8;
}

.btn-go {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    color:black;
    border-width: 5px;
    border-color: var(--color-6);
    font-weight: 600;
}

.btn-go:hover {
    border-color: var(--color-6);
}

.border-quiz {
    border-style: solid;
    border-width: 10px;
    border-color: var(--color-6);
}

.progress-bar-wrapper {
    display: flex;
    justify-content: center;
}
.progress {
    width: 100%;
    max-width: 400px;
}

.score-result {
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    background-color: var(--color-5);
    border-radius: 10px;
    font-size: large;
}