@import url('https://fonts.cdnfonts.com/css/cooper-hewitt');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
    --main-color: #0077B6; /* Example color */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Open Sans', sans-serif;
    --logo-font: 'Open Sans', sans-serif;
    --bg-color: #f3f3f3; 
    --color-red: #c91d1de7;
    --color-green: #218014;
    --color-four: #a8ebff;
    --color-five: #023E8A; 
    --color-quiz: #a8ebff;
    --color-text-quiz: black;
}

body {
    padding-top: 80px;
    font-family: var(--body-font); 
    font-size: 17px;
}

.box-color {
    background-color: var(--bg-color);
}

h1, h2, h3{
    font-family: var(--logo-font);
    color: var(--main-color); 
    font-weight: bold;
}

h4, h5 {
 font-weight: bold;
}

/* NAVBAR */
.logo {
    color: var(--main-color); 
    font-weight: bold;
    font-size: x-large;
    font-family: var(--logo-font);
}

.nav-link{
    font-size: larger;
    font-family: var(--title-font);
    font-weight: bold;
}

.nav-link:hover{
    color: var(--main-color);
    font-size: larger;
}


/* IMAGE */ 
.img-max {
    height: 80%;
    width:auto;
}

/* CARD */
.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 90%;
}

/*ACCORDION */

.accordion {
    --bs-accordion-active-bg: var(--color-five);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-color: var(--color-five);
    --bs-accordion-border-width: 1px;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    color: white;
}


/* KVIZ */
.btn-quiz {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: var(--color-quiz);
    font-size: large;
}

.btn-quiz:hover {
    background-color: var(--color-quiz);
    opacity: 0.8;
}

.btn-go {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color:black;
    border-width: 5px;
    border-color: var(--color-quiz);
    font-weight: bold;
}

.btn-go:hover, .btn-go:focus {
    border-color: var(--color-quiz);
}
.btn-go:active {
    border-color: var(--color-five)!important;
 }

.border-quiz {
    border-style: solid;
    border-width: 10px;
    border-color: var(--color-quiz);
    padding: 10px;
}

.progress-bar-wrapper {
    display: flex;
    justify-content: center;
}
.progress {
    width: 100%;
    max-width: 400px;
}

.score-result {
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    background-color: var(--color-four);
    border-radius: 10px;
    font-size: large;
}


/*Test grafične pismenosti*/
.form-control {
    box-shadow: none;
    border-color: gray;
    border-width: 2px;
}

.form-control:focus {
    box-shadow: none;
    border-color: gray;
    border-width: 2px;
}

